#!/usr/bin/make -f

#testsuite needs writable $HOME
FAKEHOME = $(CURDIR)/debian/fakehome

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DARCH=default -DBUILD_TESTS=ON

override_dh_auto_test:
	HOME="${FAKEHOME}" dh_auto_test -- ARGS+=--verbose

override_dh_auto_clean:
	rm -rf "$(FAKEHOME)"
	dh_auto_clean

override_dh_systemd_enable:
	install -m 644 -t debian utils/systemd/monero.service
	dh_systemd_enable --no-enable
